{% extends 'base.html.twig' %}

{% block title %}New Site{% endblock %}

{% block body %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

    <h1>Create new Site</h1>

    {{ include('site/_form.html.twig') }}

    <a href="{{ path('site_index') }}">back to list</a>
{% endblock %}
