{% extends 'base.html.twig' %}

{% block title %}Edit Rapport{% endblock %}

{% block body %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
    <h1>Modifier Rapport</h1>

    {{ include('rapport/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a  class="offset-1 btn-info btn" style="background:#7e57c2;"  href="{{ path('rapport_index') }}">Retour à la liste</a>

    {{ include('rapport/_delete_form.html.twig') }}
{% endblock %}
