{% extends 'base_login.twig' %}

{% block title %}Nouveau Mission{% endblock %}

{% block body %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
<div class="example-wrapper">

    <h1>Créer Mission</h1>

    {{ include('mission/_form.html.twig') }}

    <a class="offset-1 btn-info btn" style="background:#7e57c2;"  href="{{ path('mission_index') }}">Retour à la liste</a>
</div>
{% endblock %}
