{% extends 'base.html.twig' %}

{% block title %}Edit Terme{% endblock %}

{% block body %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

    <h1>Edit Terme</h1>

    {{ include('terme/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('terme_index') }}">back to list</a>

    {{ include('terme/_delete_form.html.twig') }}
{% endblock %}
